  @import '@fortawesome/fontawesome-free/css/all.min.css';
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

  .home-container {
      color: #000000;
      padding: 50px;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      overflow: hidden;
      text-align: center;
    }
    
    .hero-section {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin-left: 45px;
      height: 80vh;
      overflow: hidden;
    }
    
    .bg-video {
      position: absolute; 
      top: 0;
      left: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      object-fit: cover; /* Cover the entire section */
      z-index: -1; /* Behind the content */
    }
    
    .text-section {
      margin-top: 15px;
      max-width: 1200px;
      text-align: center;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 1;
    }
    
    .text-section h1 {
      font-size: 60px;
      margin-bottom: 20px;
      font-family: "Montserrat", sans-serif;
      font-weight: 720;
    }
    
    .text-section p {
      
      width: 500px;
      font-size: 18px;
      margin-bottom: 40px;
      color: #322b2b;
    }
    
    .get-started-btn {
      background-color: #1e90ff;
      color: white;
      padding: 15px 30px;
      border: none;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      border-radius: 5px;
    }
    
    .get-started-btn:hover {
      background-color: #156dc1;
    }
    
    .request-demo {
      color: rgb(0, 0, 0);
      cursor: pointer;
      text-decoration: underline;
      margin-top: 10px;
    }
    
    .image-section img {
      max-width: 400px;
      object-fit: contain;
    }
    
    .stats-section {
      display: flex;
      gap: 50px;
      margin-top: 60px;
    }
    
    .stats-section div {
      text-align: center;
    }
    
    .stats-section h3 {
      font-size: 32px;
      margin-bottom: 10px;
    }
    
    .stats-section p {
      color: #bbbbbb;
      font-size: 16px;
    }

    .podcast-container {
      height: 100px;
      width: 300px;
      display: inline-block;
      border-radius: 50px;
      vertical-align: middle;
      background-position: 0 0;
      margin-left: 10px;
      margin-right: 10px;
  }

  .podcast-container video {
    height: 100px;
    width: 300px;
    border-radius: 50px;
    object-fit: cover;
  }

  .ampersand-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    width: 140px;
  }

  .ampersand, .bag-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: rgb(0, 0, 0);
    background-color: #e1e157;
    border-style: solid;
    position: absolute;
  }

  .bag-icon {
    background-color: #ff7043;
  }

  @keyframes swapAmpersand {
    0%, 100% {
      left: 0;
    }
    50% {
      left: 70px;
    }
  }

  @keyframes swapBagIcon {
    0%, 100% {
      left: 70px;
    }
    50% {
      left: 0;
    }
  }

  .ampersand {
    animation: swapAmpersand 3s infinite ease-in-out;
  }

  .bag-icon {
    animation: swapBagIcon 3s infinite ease-in-out;
  }

  .trainer-container {
    height: 100px;
    width: 130px;
    display: inline-block;
    border-radius: 50px;
    vertical-align: middle;
    margin-left: 10px;
  }

  .trainer-container video {
    height: 100px;
    width: 130px;
    border-radius: 50px;
    object-fit: cover;
  }

  .cover-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .main-heading {
    line-height: 1.8;
    white-space: nowrap;
  }

  .line2 {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .line2-container {
    display: flex;
  }

  .carousel {
    overflow: hidden;
    width: 80%;
    border-style: solid;
    border-radius: 75px;
    border-width: 0.7px;
    max-height: 160px;
    display: flex;
    align-items: center;
    padding: 25px;
}

.carousel-track {
    display: flex;
    width: 200vw;
    animation: scroll 20s linear infinite;
}
  
.carousel-track img {
  width: 60vw;
  max-height: 110px;
  height: auto;
  margin: 5px 10px;
  object-fit: contain;
  margin-right: 35px;
}
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
.mentor-text {
  padding: 18px;
  font-size: 18px;
  margin-bottom: 34px;
  color: #322b2b;
  font-family: "Montserrat", sans-serif;
}

.overview-container {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overview-heading {
  font-size: 26px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 22px;
}

.feature-box1 {
  text-align: left;
  margin: 25px;
  margin-left: 0px;
  margin-right: 0px;
  max-width: 80%;
  border: solid 3px;
  border-radius: 24px;
  padding: 30px;
  background-color: #eeeed8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
}

.feature-box2 {
  text-align: left;
  margin: 25px;
  margin-left: 0px;
  margin-right: 0px;
  max-width: 80%;
  border: solid 3px;
  border-radius: 24px;
  padding: 30px;
  background-color: #bfdae1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
}

.feature-box-img {
  max-height: 60%;
  max-width: 40%;
  border-radius: 24px;
  border: solid 2px;
}
.feature-box-layout {
    max-width: 50%;
    text-wrap: wrap;
    padding: 10px;
    margin-right: 25px;
  }

.overview-h {
    font-weight: bold;
    text-wrap: wrap;
    margin-bottom: 25px;
  }

.overview-para {
    text-wrap: wrap;
    margin-bottom: 25px;
  }